<div id="sidebar">
    <section class="box">
        <header>
            <h2>Ipsum nullam luctus</h2>
        </header>
        <p>
            Malesuada quis eget eros. Nullam sodales cursus sapien, id consequat
            leo suscipit ut. Praesent id turpis vitae turpis pretium ultricies. Vestibulum sit
            amet risus elit.
        </p>
        <a href="#" class="button style1">Learn More</a>
    </section>
    
</div>
