<h3>Contacts</h3>
<br />
<div>
    <p>Contact person: @MyInfo.Name</p>
</div>
<div>
    <p>Phone number: @MyInfo.Phone</p>
</div>
<div>
    <p>E-mail: @MyInfo.Email</p>
</div>
<div>
    <p>
        You can contact us via LinkedIn as well:<br />
        <a href="@MyInfo.LinkedIn">LinkedIn</a>
    </p>
</div>
